/* rgb(63,52,131); */

.App,
.item-form,
.lower-div {
  display: flex;
}

.App {
  width:  100%;
  min-height: 100vh;
  max-height: 100vh;
  background-color: #334;
  flex-direction: column;
}

.upper-div {
  width: 50%;
  max-height: 25vh;
  min-height: 25vh;
}

.item-form {
  background-color: red;
  flex-direction: column;
  padding: 10px;
}

.lower-div {
  flex: 1;
  overflow: hidden;
  border-top: 1px solid gray;
}

.items-list-aside,
.details-container-div {
  align-self: stretch;
  overflow: auto;  
}

.items-list-aside {
  min-width: 30%;
  max-width: 30%;
  padding: 2em 0;
  color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.todo-list {
  padding: 1em 0;
}

.todo-item {
  list-style-type: none;
  padding: 0.5em 2em;
  display: flex;
  justify-content: space-between;
}

.todo-item:hover,
.item-naming-div > input,
.item-naming-div > label {
  cursor: pointer;
}

.todo-item:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.item-naming-div {
  flex: 1;
}

.item-naming-div > input {
  margin-right: 1em;
}

.item-naming-div > label {
  width: 100%;
  font-size: 18px;
}

.details-container-div {
  min-width: 70%;
  max-width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 5em;
}
